PROJECT_NAME=my-project # will be used to name the generated archives
PROJECT_ROOT="/Users/thomas/code/my-project/cms" # needed to build archive of assets and to restore assets

# needed to set permissions
FS_USER="thomas"
FS_GROUP="staff"

# archive of assets will be built from these
# permissions will be set on these as well
# ASSET_DIRS=(
#     "web/cpresources"
# )

# database credentials
DB_DRIVER=pgsql
DB_SERVER=localhost
DB_PORT=5432
DB_DATABASE=my-project
DB_USER=thomas
DB_PASSWORD=""

# storage configuration
# archives will be stored here and retrieved from here
STORAGE_TYPE="gs"
STORAGE_ROOT="gs://backups.my-project.com"

# config specific to storage type "gs"
# google cloud acess key (paste in json)
STORAGE_GS_ACCESS_KEY='{
  "type": "service_account",
  "project_id": "your-project-id",
  "private_key_id": "85fe26393cffbc5dff14588db138f249073cb766",
  "private_key": "key data",
  "client_email": "assets-your-project-com@your-project.iam.gserviceaccount.com",
  "client_id": "123455",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/assets-your-project-com%40your-project.iam.gserviceaccount.com"
}
'